* {
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
.caja1 {
    background-color: whitesmoke);

}
.cajafoto {
    background-color: rgb(93, 36, 36));
}